<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CNC_Pathfinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CNC_Pathfinder.Properties.Settings>
            <setting name="CNC_Axes_Step_Dim_X" serializeAs="String">
                <value>880000</value>
            </setting>
            <setting name="CNC_Axes_Step_Dim_Y" serializeAs="String">
                <value>660000</value>
            </setting>
            <setting name="CNC_Axes_Step_Dim_Z" serializeAs="String">
                <value>220000</value>
            </setting>
            <setting name="CNC_Axes_Units_Dim_X" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="CNC_Axes_Units_Dim_Y" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CNC_Axes_Units_Dim_Z" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CNC_Step_Resolution_X" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="CNC_Step_Resolution_Y" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="CNC_Step_Resolution_Z" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="CNC_Feedrate_Min" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CNC_Feedrate_Max" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="CNC_Laser_MaxPower" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="CNC_Units" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CNC_InitialHomePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CNC_FeedrateMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CNC_Multiblocks_Size" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="COM_Baudrate" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COM_Lineterminator" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COM_WaitForOK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TP_ToolType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TP_Laser_Power_Cut" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TP_Laser_Power_Idle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TP_Drill_Speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TP_Drill_Down_UnitsHeight_Z" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="TP_Drill_Up_UnitsHeight_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TP_RapidFeedrate" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="TP_LinearFeedrate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TP_ToolDiameter_Precision" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="TP_ToolDiameter_Roughing" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="TP_Laser_Height_Precision" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TP_Laser_Height_Roughing" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TP_Laser_Power_Contour" serializeAs="String">
                <value>1400</value>
            </setting>
            <setting name="TP_Contour_Feedrate" serializeAs="String">
                <value>1000</value>
            </setting>
        </CNC_Pathfinder.Properties.Settings>
    </userSettings>
</configuration>